nav{
    background-color: #fff;
    display: flex;
    padding: 5px 20px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.left-side{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img{
    height: 30px;
}

ul{
    list-style: none;
    display: flex;
}

li{
    padding-left: 20px;
}


